<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UnoVueJs</title>
    <style>
        body {
            align-items: center;
            display: flex;
            flex-direction: column;
        }
        div {
            width: fit-content;
        }
    </style>
</head>
<body>
    
    <div id="uno"> {{ message }} 
        <input v-model="message">
    </div>

    <div id="dos"></div>

    <script src="vue.js"></script>
    <script>

        Vue.component('game-header', {
            template: '<h1>Lista de Juegos</h1>'
        })

        Vue.component('game-add', {
            template: [   
                '<div>',
                    '<input type="text" v-model="titleGame" />',
                    '<button @click="emitNewGame">Añadir</button>',
                '</div>'
            ].join(''),
            data: function() {
                return {
                    titleGame: null
                }
            },
            methods: {
                emitNewGame: function() {
                    if (this.titleGame) {
                        this.$emit('new', {title:this.titleGame});
                        this.titleGame = null;
                    }
                }
            }
        })

        Vue.component('game-list', {
            props: ['games'],
            template: [
                '<ol>',
                    '<game-item v-for="item in games" :game="item" :key="item.id"></game-item>',
                '</ol>'
            ].join('')
        })

        Vue.component('game-item', {
            props: ['game'],
            template: '<li>{{ game.title }}</li>'
        })


        new Vue({
            el: '#uno',
            data: {
                message: 'Mensaje',
            }
        })

        new Vue({
            el: '#dos',
            template: [
                '<div class="view">',
                '<game-header></game-header>',
                '<game-add @new="addNewGame"></game-add>',
                '<game-list v-bind:games="games"></game-list>',
                '</div>'
            ].join(''),
            data: {
                games: [
                    { title: 'Juego1' },
                    { title: 'Juego2' },
                    { title: 'Juego3' }
                ]
            },
            methods: {
                addNewGame: function (variable) {
                    this.games.push(variable);
                }
            }
        })

    </script>
</body>
</html>